body {
  margin: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.checked{
  text-decoration: line-through;
}
.add{
  width:70%;
  margin-left: 200px;
 
}
#list{
  width:90%;
  margin-left: 200px;
  }
#row{
  margin-left: -528px;
  width: 110%;
  
}
.filter{
  justify-content: space-around;
}
/* li{
  display: flex;
  justify-content: space-between !important;
  margin-left: 35%;

} */

/* style={{ display: "flex", justifyContent:"space-between" !important, marginLeft: "35%" }} */